@import '~bootstrap/scss/bootstrap';
@import '~material-design-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
