<header>
  <cfh-nav></cfh-nav>
</header>
<main
  *ngIf="{ fullWidth: fullWidth$ | async, navOpen: navOpen$ | async, isMobile: isMobile$ | async, authenticated: authenticated$ | async } as container"
  #mainContent role="main"
  [ngClass]="{ container: !container.navOpen && !container.fullWidth, 'container-fluid': container.navOpen || container.fullWidth }">
  <mat-sidenav-container class="d-flex flex-grow-1 flex-fill" [hasBackdrop]="container.isMobile" (backdropClick)="toggleNav()">
    <mat-sidenav *ngIf="container.authenticated" [mode]="container.isMobile ? 'push' : 'side'" [fixedInViewport]="false" position="end"
      color="primary" [opened]="container.navOpen" class="d-flex flex-column px-5 py-3" [style.width.px]="480">
      <cfh-notifications></cfh-notifications>
    </mat-sidenav>

    <mat-sidenav-content #content class="d-flex flex-column flex-fill flex-grow-1">
      <router-outlet @navigationAnimations></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
