<div class="d-flex {{layout}} flex-grow-1 align-items-center justify-content-center gy-3">
  <div fxLayoutAlign=" center">
    <button (click)="isActive = !isActive" [color]="isActive ? '' : color" [disabled]="disabled"
      [ngClass]="{ 'mat-fab' : !isActive, 'mat-mini-fab' : isActive }" [matTooltip]="isActive ? 'Close' : title"
      [matTooltipPosition]="tooltipPosition" mat-fab>
      <mat-icon [@fabToggler]="{value: !isActive}">{{isActive ? 'close' : icon}}</mat-icon>
    </button>
  </div>
  <div *ngIf="isActive" [@fabStagger]="fabButtons.length" class="d-flex {{layout}} align-items-center justify-content-center my-2">
    <button *ngFor=" let fab of fabButtons" cahDebounceClick (debounceClick)="selectFabMenu(fab)" [color]="fab?.color" [matTooltip]="fab?.tooltip!"
      [matTooltipPosition]="fab?.tooltipPosition!" [ngClass]="{'fullSVG' : fab?.imgUrl, 'my-3': true }" mat-fab
      [cahConfirmDialog]="fab.directives?.cahConfirmDialog" [cahDialogComponent]="fab.directives?.cahDialogComponent"
      [config]="fab.directives?.cahDialogComponent?.config! ?? fab.directives?.cahConfirmDialog?.config!"
      [component]="fab?.directives?.cahDialogComponent?.component ?? fab?.directives?.cahConfirmDialog?.component">
      <mat-icon *ngIf="fab?.icon" [color]="fab?.iconColor">{{fab?.icon}}</mat-icon>
      <img *ngIf="fab?.imgUrl" [src]="fab?.imgUrl" alt="icon">
    </button>
  </div>
</div>
