<div class="d-flex flex-column flex-fill flex-grow-1" *ngIf="gameInProgress$ | async as game">
  <cfh-game-toolbar [game]="game!" (inviteOnly)="setPrivacy({ game, privacy: $event.checked})"></cfh-game-toolbar>
  <cfh-players *ngIf="game.status === 'AWAITING_PLAYERS'" [game]="game"></cfh-players>
  <cfh-game-screen *ngIf="game.status !== 'AWAITING_PLAYERS'" [game]="game"></cfh-game-screen>
  <ng-container *ngIf="{ isCreator: isCreator(game) } as data">
    <cfh-fab-menu *ngIf="data.isCreator && game.status === 'AWAITING_PLAYERS'" [fabButtons]="fab" color="primary" icon="settings_suggest"
      (ngClick)="fabItemClicked({ id: $any($event), game })">
    </cfh-fab-menu>

    <cfh-fab *ngIf="!data.isCreator || game.status !== 'AWAITING_PLAYERS'" icon="chat" label="chat"></cfh-fab>
  </ng-container>
</div>
