[flake8]
ignore=
  E203,
  E501,
  W503
color = always
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
select = B,C,E,F,W,T4,B9
max-complexity = 18
max-line-length = 88
