$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$bootstrap-colors: (
  pending: #444,
  queued: #ffc116,
  warning: #fe9600,
  approved: #0074aa,
  admin-approved: #0004e0,
  success: #0a630f,
  danger: #c00000,
  contrast: (
    pending: #fff,
    queued: #000,
    warning: #000,
    approved: #fff,
    admin-approved: #fff,
    success: #fff,
    danger: #fff,
  ),
);

$bootstrap-dark-palette: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$bootstrap-primary-palette: (
    50 : #e2eeff,
    100 : #b6d4fe,
    200 : #86b7fe,
    300 : #569afe,
    400 : #3184fd,
    500 : #0d6efd,
    600 : #0b66fd,
    700 : #095bfc,
    800 : #0751fc,
    900 : #033ffc,
    A100 : #ffffff,
    A200 : #eff2ff,
    A400 : #bcc8ff,
    A700 : #a2b4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bootstrap-secondary-palette: (
    50 : #edeeef,
    100 : #d3d6d8,
    200 : #b6babe,
    300 : #989ea4,
    400 : #828a91,
    500 : #6c757d,
    600 : #646d75,
    700 : #59626a,
    800 : #4f5860,
    900 : #3d454d,
    A100 : #a9d3fd,
    A200 : #77b9fc,
    A400 : #41a0ff,
    A700 : #2793ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$bootstrap-warning-palette: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$link-color: #0d6efd;
$label-margin-bottom: 0;
