@use '~@angular/material' as mat;
@import 'variables';

@include mat.core();

$bootstrap-primary: mat.define-palette($bootstrap-primary-palette, 500);
$bootstrap-secondary: mat.define-palette($bootstrap-secondary-palette, A200, A100, A400);
$bootstrap-warn: mat.define-palette($bootstrap-warning-palette);

$bootstrap-theme: mat.define-light-theme((
 color: (
   primary: $bootstrap-primary,
   accent: $bootstrap-secondary,
   warn: $bootstrap-warn,
 )
));

@include mat.all-component-themes($bootstrap-theme);

@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
