::ng-deep {
  .link-field {
    margin-bottom: 0;
    .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-flex, .mat-form-field-infix {
        display: flex;
        align-items: center;
        padding: 0 !important;
        border-top: 0;

        .mat-form-field-prefix {
          height: 100%;
        }
      }
    }
  }

}
