<cfh-auth-container title="Forgot Password" class="flex-fill">
  <div class="col p-md-5">
    <h6 class="card-title text-center text-muted mb-3">we will send you a reset email</h6>
    <form [formGroup]="forgotPasswordForm">
      <mat-form-field class="form-group d-block pb-3" focused>
        <mat-label for="username">email</mat-label>
        <input matInput autocomplete="email" formControlName="email" type="email" />
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint class="form-text text-muted">Enter your email.</mat-hint>
      </mat-form-field>

      <div class="d-grid gap-2">
        <button mat-flat-button #forgot type="button" class="btn btn-lg btn-block btn-dark mb-3" [disabled]="!forgotPasswordForm.valid"
          cfhDebounceClick (debounceClick)="sendForgotPasswordEmail(forgotPasswordForm)" [ngClass]="{
          'progress-bar': forgotPasswordForm.valid && forgot.disabled,
          'progress-bar-striped': forgotPasswordForm.valid && forgot.disabled,
          'progress-bar-animated': forgotPasswordForm.valid && forgot.disabled
        }">
          Send Reset Email
          <mat-icon>send</mat-icon>
        </button>
      </div>


      <div class="d-grid gap-2 d-flex justify-content-around">
        <button mat-stroked-button type="button" class="btn btn-sm btn-link flex-grow-1 text-dark" routerLink="/auth/login">Login</button>
        <button mat-stroked-button type="button" class="btn btn-sm btn-link flex-grow-1 text-dark"
          routerLink="/auth/register">Register</button>
      </div>
    </form>
  </div>
</cfh-auth-container>
