<cah-main-container>
  <div class="col d-flex flex-column justify-content-between">
    <div class="card">
      <div class="card-header border-0 bg-transparent mt-1">
        <h5 class="card-title text-center">{{title}}</h5>
      </div>
      <div class="card-body row d-flex align-items-center">
        <ng-content></ng-content>
      </div>
      <div class="card-footer border-0 bg-transparent text-muted pl-md-5">
        <button class="btn btn-sm btn-link" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 100 125">
            <path
              d="M94.021 11.858a1.823 1.823 0 00-1.222-.689l-49.98-6.022a1.836 1.836 0 00-2.04 1.602l-1.017 8.439L7.081 27.119c-.46.168-.827.505-1.033.95a1.824 1.824 0 00-.061 1.402l23.482 64.323a1.84 1.84 0 002.352 1.094l37.895-13.835 14.455 1.741a1.836 1.836 0 002.04-1.602l8.191-67.985a1.82 1.82 0 00-.381-1.349zM31.214 93.117L7.722 28.877l31.793-11.633-6.926 57.49a1.836 1.836 0 001.601 2.04l31.422 3.785-34.398 12.558z" />
          </svg>
          <small class="text-muted">{{gameTitle}}</small>
        </button>
      </div>
    </div>
  </div>
</cah-main-container>
