<div class="d-flex flex-column h-100">
  <mat-stepper linear labelPosition="bottom" [orientation]="(breakpointObserver$ | async)!">
    <mat-step state="join_full">
      <ng-template matStepLabel>Select Play Type</ng-template>

      <div class="cah-content d-flex flex-column flex-fill justify-content-center align-items-center">
        <button mat-raised-button class="btn btn-lg mb-3" [ngClass]="{ 'btn-dark': playType === 'join' }" [style.width]="'230px'"
          (click)="playType='join'">
          JOIN A GAME
          <mat-icon aria-hidden="false" aria-label="next step" class="px-3">sports_kabaddi</mat-icon>
        </button>
        <button mat-raised-button class="btn btn-lg" [style.width]="'230px'" [ngClass]="{ 'btn-dark': playType === 'create' }"
          (click)="playType='create'">
          CREATE A GAME
          <mat-icon aria-hidden="false" aria-label="next step" class="px-3">add_circle_outline
          </mat-icon>
        </button>
      </div>

      <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="game options navigation buttons">

        <div class="btn-group btn-group-lg" role="group" aria-label="next button">
          <button mat-icon-button flexFill matStepperNext aria-label="next step" matTooltip="Next" matTooltipPosition="left"
            [disabled]="!playType">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step state="smart_toy" *ngIf="playType">
      <ng-template matStepLabel>Select Your Avatar</ng-template>
      <cah-avatar (avatarSelected)="selectAvatar($event)" [selectedAvatar]="avatar"></cah-avatar>

      <div class="btn-toolbar" role="toolbar" aria-label="game options navigation buttons">
        <div class="btn-group btn-group-lg flex-fill" role="group" aria-label="reset button">
          <button mat-icon-button aria-label="reset steps" matTooltip="reset" matTooltipPosition="right" cahDebounceClick
            (debounceClick)="clearAvatarSelection()">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
        </div>

        <div class="btn-group btn-group-lg flex-fill justify-content-between" role="group" aria-label="next button">
          <button mat-icon-button flexFill matStepperPrevious aria-label="previous step" matTooltip="Back" matTooltipPosition="right">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <button matTooltip="Next" matTooltipPosition="left" mat-icon-button flexFill matStepperNext [disabled]="!avatar">
            <mat-icon aria-hidden="false" aria-label="next step">arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <ng-container *ngIf="playType === 'create'">
      <ng-container *ngIf="genres$ | async as genres">
        <mat-step [stepControl]="gameOptionsForm" state="videogame_asset">
          <ng-template matStepLabel>Select Game Play Options</ng-template>

          <div class="d-flex flex-grow-1 justify-content-center">
            <img *ngIf="avatar" [src]="avatar.link| safeUrl" width="120px" class="d-none d-xl-block mx-auto" />
          </div>

          <form [formGroup]="genreOptionsForm" class="mt-4">
            <mat-form-field class="w-100">
              <mat-label for="genres">game genres</mat-label>
              <mat-select formControlName="genres" placeholder="Select Game genre" multiple focused>
                <cdk-virtual-scroll-viewport [itemSize]="genres?.data?.genres?.totalCount" class="select-genre" autosize #selectGenreCdk
                  appendOnly>
                  <mat-option #genreOption *cdkVirtualFor="let genre of genres?.data?.genres?.edges" [value]="genre.node"
                    (click)="toggleGenre(genreOption.selected, genre.node)">
                    {{ genre.node.description }}
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </mat-form-field>
          </form>

          <form [formGroup]="gameOptionsForm" class="mt-4">
            <mat-form-field class="game-options-stepper w-100">
              <mat-label for="rounds">number of game rounds</mat-label>
              <input matInput type="number" min="5" max="10" step="1" formControlName="rounds" class="d-none invisible" />
              <mat-slider [min]="5" [max]="10" [step]="1" [tickInterval]="1" thumbLabel showTicks class="w-100"
                [value]="gameOptionsForm.controls.rounds.value" (change)="gameOptionsForm.controls.rounds.setValue($event.value)"
                aria-labelledby="no of game rounds">
              </mat-slider>
            </mat-form-field>

            <mat-form-field class="game-options-stepper w-100">
              <mat-label for="roundTime">time per round(seconds)</mat-label>
              <input matInput type="number" min="10" max="60" step="5" formControlName="roundTime" class="d-none invisible" />
              <mat-slider [min]="10" [max]="60" [step]="5" [tickInterval]="5" thumbLabel showTicks class="w-100"
                [value]="gameOptionsForm.controls.roundTime.value" (change)="gameOptionsForm.controls.roundTime.setValue($event.value)"
                aria-labelledby="seconds per round">
              </mat-slider>
            </mat-form-field>

            <mat-form-field class="game-options-stepper w-100">
              <mat-label for="numPlayers">
                number of players
                <span *ngIf="gameOptionsForm.controls.numPlayers.value === 0" class="badge bg-info">COMPETE AGAINST THE AI</span>
              </mat-label>
              <input matInput type="number" min="0" max="9" step="1" formControlName="numPlayers" class="d-none invisible" />
              <mat-slider [min]="0" [max]="9" [step]="1" [tickInterval]="1" thumbLabel showTicks class="w-100"
                [value]="gameOptionsForm.controls.numPlayers.value" (change)="gameOptionsForm.controls.numPlayers.setValue($event.value)"
                aria-labelledby="no of players">
              </mat-slider>
            </mat-form-field>

            <mat-form-field class="game-options-stepper w-100">
              <mat-label for="numSpectators">number of spectators</mat-label>
              <input matInput type="number" min="0" max="10" step="1" formControlName="numSpectators" class="d-none invisible" />
              <mat-slider #spectators [min]="0" [max]="10" [step]="1" [tickInterval]="1" thumbLabel showTicks class="w-100"
                [value]="gameOptionsForm.controls.numSpectators.value"
                (change)="gameOptionsForm.controls.numSpectators.setValue($event.value)" aria-labelledby="no of spectators">
              </mat-slider>
            </mat-form-field>
          </form>

          <div class="btn-toolbar" role="toolbar" aria-label="game options navigation buttons">
            <div class="btn-group btn-group-lg flex-fill" role="group" aria-label="reset button">
              <button mat-icon-button matTooltip="reset" matTooltipPosition="right" aria-label="reset options" cahDebounceClick
                (debounceClick)="[resetGenres(genres?.data?.genres?.edges), resetGameOptions()]">
                <mat-icon>settings_backup_restore</mat-icon>
              </button>
            </div>

            <div class="btn-group btn-group-lg flex-fill justify-content-between" role="group" aria-label="next button">
              <button mat-icon-button flexFill matStepperPrevious aria-label="previous step" matTooltip="Back" matTooltipPosition="right">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <button mat-mini-fab flexFill aria-label="start game" matTooltip="Start New Game" matTooltipPosition="left"
                [disabled]="(!genreOptionsForm.valid && !genreOptionsForm.dirty) || (!gameOptionsForm.valid && !gameOptionsForm.dirty)"
                color="primary" cahDebounceClick (debounceClick)="createNewGame()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
          </div>
        </mat-step>
      </ng-container>
    </ng-container>

    <mat-step step="videogame_asset" *ngIf="playType === 'join'">
      <ng-template matStepLabel>Select Game Room</ng-template>
      <div *ngIf="avatar" class="d-flex flex-grow-1 justify-content-center" matTooltip="{{avatar.name | uppercase}}"
        matTooltipPosition="above">
        <img [src]="avatar.link| safeUrl" width="120px" class="d-none d-xl-block mx-auto" />
      </div>

      <cah-available-games></cah-available-games>

      <div class="btn-toolbar pt-3" role="toolbar" aria-label="game options navigation buttons">
        <div class="btn-group btn-group-lg flex-fill" role="group" aria-label="reset button">
          <button mat-icon-button matTooltip="reset" matTooltipPosition="right" aria-label="reset options">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
        </div>

        <div class="btn-group btn-group-lg flex-fill justify-content-between" role="group" aria-label="next button">
          <button mat-icon-button flexFill matStepperPrevious aria-label="previous step" matTooltip="Back" matTooltipPosition="right">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <button mat-mini-fab flexFill aria-label="start game" matTooltip="Start New Game" matTooltipPosition="left"
            [disabled]="(!genreOptionsForm.valid && !genreOptionsForm.dirty) || (!gameOptionsForm.valid && !gameOptionsForm.dirty)"
            color="primary" cahDebounceClick (debounceClick)="joinGame()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
