<cah-auth-container title="Reset Password" class="flex-fill">
  <div class="col p-md-5">
    <form [formGroup]="resetPasswordForm">
      <mat-form-field class="form-group d-block pb-3">
        <mat-label for="oldPassword">old password</mat-label>
        <input matInput type="password" formControlName="oldPassword" id="oldPassword" />
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint class="form-text text-muted">Enter your old password.</mat-hint>
      </mat-form-field>

      <div class="row">
        <mat-form-field class="col col-md-6 form-group pb-3 mb-5">
          <mat-label for="password">new password</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" />
          <mat-hint class="form-text d-flex flex-column">
            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.value.length < 8,
                    'text-success': resetPasswordForm.controls.password.value.length >= 8
                  }">
              must have a min of 8 characters.
              <mat-icon *ngIf="resetPasswordForm.controls.password.value.length >=8">
                check_circle
              </mat-icon>
            </span>

            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.value.length > 30,
                    'text-success': resetPasswordForm.controls.password.value.length > 0 && resetPasswordForm.controls.password.value.length <= 30
                  }">
              must not exceed 30 characters.
              <mat-icon
                *ngIf="resetPasswordForm.controls.password.value.length > 0  && resetPasswordForm.controls.password.value.length <= 30">
                check_circle
              </mat-icon>
            </span>

            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.getError('lowercase')?.valid === false,
                    'text-success': resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('lowercase')
                  }">
              must have a lowercase character
              <mat-icon
                *ngIf="resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('lowercase')">
                check_circle
              </mat-icon>
            </span>

            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.getError('uppercase')?.valid === false,
                    'text-success': resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('uppercase')
                  }">
              must have an uppercase character
              <mat-icon
                *ngIf="resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('uppercase')">
                check_circle
              </mat-icon>
            </span>
            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.getError('numeric')?.valid === false,
                    'text-success': resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('numeric')
                  }">
              must have a numeric character
              <mat-icon
                *ngIf="resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('numeric')">
                check_circle
              </mat-icon>
            </span>
            <span [ngClass]="{
                    'text-muted': resetPasswordForm.controls.password.getError('special')?.valid === false,
                    'text-success': resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('special')
                  }">
              must have a special character
              <mat-icon
                *ngIf="resetPasswordForm.controls.password.value.length > 0 && !resetPasswordForm.controls.password.getError('special')">
                check_circle
              </mat-icon>
            </span>
          </mat-hint>
          <button mat-icon-button matSuffix cahDebounceClick (debounceClick)="showPassword=!showPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col col-md-6 form-group pb-3">
          <mat-label for="repeatPassword">repeat password</mat-label>
          <input matInput [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" id="repeatPassword" />
          <mat-hint class="form-text" [ngClass]="{
                  'text-muted': resetPasswordForm.controls.repeatPassword.value.length > 0 && (resetPasswordForm.controls.repeatPassword.value !== resetPasswordForm.controls.password.value),
                  'text-success': resetPasswordForm.controls.repeatPassword.value.length > 0 && (resetPasswordForm.controls.repeatPassword.value ===
                  resetPasswordForm.controls.password.value)
                }">
            repeat your new account password.
            <mat-icon
              *ngIf="resetPasswordForm.controls.repeatPassword.value.length > 0 && (resetPasswordForm.controls.repeatPassword.value === resetPasswordForm.controls.password.value)">
              check_circle
            </mat-icon>
          </mat-hint>
          <button mat-icon-button matSuffix cahDebounceClick (debounceClick)="showRepeatPassword=!showRepeatPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showRepeatPassword">
            <mat-icon>{{showRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="d-grid gap-2">
        <button mat-flat-button #forgot type="button" class="btn btn-lg btn-block btn-dark mb-3" [disabled]="!resetPasswordForm.valid"
          cahDebounceClick (debounceClick)="resetPassword(resetPasswordForm)" [ngClass]="{
          'progress-bar': resetPasswordForm.valid && forgot.disabled,
          'progress-bar-striped': resetPasswordForm.valid && forgot.disabled,
          'progress-bar-animated': resetPasswordForm.valid && forgot.disabled
        }">
          Reset Password
          <mat-icon>lock_reset</mat-icon>
        </button>
      </div>

      <div class="d-grid gap-2 d-flex justify-content-around">
        <button mat-stroked-button type="button" class="btn btn-sm btn-link flex-grow-1 text-dark" routerLink="/auth/login">Login</button>
        <button mat-stroked-button type="button" class="btn btn-sm btn-link flex-grow-1 text-dark"
          routerLink="/auth/register">Register</button>
      </div>
    </form>
  </div>
</cah-auth-container>
