<cah-auth-container title="Login" class="flex-fill" *ngIf="{ isMobile: isMobile$ | async }  as data">
  <div *ngIf="data?.isMobile" class="btn-group d-md-none mb-3" role="group" aria-label="authentication methods">
    <button mat-stroked-button type="button" class="btn" [ngClass]="{ 'btn-secondary': !showSocialAuth, 'btn-light': showSocialAuth}"
      (click)="showSocialAuth=!showSocialAuth">Email</button>
    <button mat-stroked-button type="button" class="btn" [ngClass]="{ 'btn-secondary': showSocialAuth, 'btn-light': !showSocialAuth}"
      (click)="showSocialAuth=!showSocialAuth">Social</button>
  </div>

  <div class="col-md-12 col-lg-6 mb-5 p-md-5 d-md-block flex-fill" [ngClass]="{ 'd-none': (data?.isMobile) && !showSocialAuth}">
    <div class="row px-3 p-md-0">
      <h6 *ngIf="data?.isMobile" class="card-title text-center text-muted mb-3">Social Login</h6>
      <button mat-raised-button #facebook class="btn btn-lg btn-block btn-primary" cahDebounceClick (debounceClick)="loginSocial($event)"
        [hidden]="google.disabled" [ngClass]="{
        'progress-bar': facebook.disabled,
        'progress-bar-striped': facebook.disabled,
        'progress-bar-animated': facebook.disabled
      }">
        Login With Facebook
      </button>
      <button mat-raised-button #google class="btn btn-lg btn-block btn-danger mt-3" cahDebounceClick (debounceClick)="loginSocial($event)"
        [hidden]="facebook.disabled"
        [ngClass]="{ 'progress-bar': google.disabled, 'progress-bar-striped': google.disabled, 'progress-bar-animated': google.disabled }">
        Login With Google
      </button>
    </div>
  </div>

  <div class="col-md-12 col-lg-6 p-md-5 border-or d-md-block" [ngClass]="{ 'd-none': (data?.isMobile) && showSocialAuth}">
    <h6 *ngIf="data?.isMobile" class="card-title text-center text-muted mb-3">Login With Email</h6>
    <form [formGroup]="loginForm">
      <mat-form-field class="form-group d-block pb-3">
        <mat-label [attr.for]="loginForm.controls.username.value.includes('@') ? 'email' : 'username'">username or email</mat-label>
        <input matInput [type]="loginForm.controls.username.value.includes('@') ? 'email' : 'text'" formControlName="username"
          id="username" />
        <mat-icon matSuffix>{{loginForm.controls.username.value.includes('@') ? 'alternate_email' : 'account_circle'}}</mat-icon>
        <mat-hint class="form-text text-muted">Enter your email or username.</mat-hint>
      </mat-form-field>

      <mat-form-field class="form-group d-block pb-3">
        <mat-label for="password">password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" />
        <mat-hint class="form-text text-muted">enter your account password.</mat-hint>
        <button mat-icon-button matSuffix cahDebounceClick (debounceClick)="showPassword=!showPassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="showPassword">
          <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="d-grid gap-2 d-flex justify-content-around align-items-center mb-3">
        <mat-checkbox color="primary" matInput formControlName="remember" class="flex-grow-1">Remember me</mat-checkbox>

        <button mat-raised-button #login type="button" class="btn btn-lg btn-dark flex-grow-1" cahDebounceClick
          (debounceClick)="loginManual(loginForm)" [disabled]="!loginForm.valid || facebook.disabled || google.disabled" [ngClass]="{
            'progress-bar': loginForm.valid && login.disabled,
            'progress-bar-striped': loginForm.valid && login.disabled,
            'progress-bar-animated': loginForm.valid && login.disabled
          }">
          Sign in
          <mat-icon>login</mat-icon>
        </button>
      </div>

      <div class="d-grid gap-2 d-flex justify-content-around">
        <button mat-stroked-button type="button" class="btn btn-sm btn-link text-dark flex-grow-1" routerLink="/auth/register">Register
          now</button>
        <button mat-stroked-button type="button" class="btn btn-sm btn-link text-dark flex-grow-1" routerLink="/auth/forgot-password">Forgot
          password ?</button>
      </div>
    </form>
  </div>
</cah-auth-container>
