<cah-auth-container title="Login">
    <div class="col-md-12 col-lg-6 p-md-5">
        <button #facebook class="btn btn-lg btn-block btn-primary" (click)="loginSocial($event)" [hidden]="google.disabled"
            [ngClass]="{ 'progress-bar': facebook.disabled, 'progress-bar-striped': facebook.disabled, 'progress-bar-animated': facebook.disabled }">Login
            with Facebook</button>
        <button #google class="btn btn-lg btn-block btn-danger mt-3" (click)="loginSocial($event)" [hidden]="facebook.disabled"
            [ngClass]="{ 'progress-bar': google.disabled, 'progress-bar-striped': google.disabled, 'progress-bar-animated': google.disabled}">Login
            with Google</button>
    </div>
    <div class="col-md-12 col-lg-6 p-md-5 border-left manual">
        <h6 class="card-title text-center text-muted">Sign in Manually</h6>
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="username" hidden>Username or Email</label>
                <input type="text" [ngClass]="{ 'border-danger': fieldHasError(loginForm, 'username') }" formControlName="username"
                    class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username or Email">
                <small id="usernameHelp" class="form-text text-muted">Enter your email or username. We won't share it.</small>
            </div>
            <div class="form-group">
                <label for="password" hidden>Password</label>
                <input type="password" [ngClass]="{ 'border-danger': fieldHasError(loginForm, 'password') }" formControlName="password"
                    class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Enter your account password.</small>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="form-check">
                    <input type="checkbox" formControlName="remember" class="form-check-input" id="remember">
                    <label class="form-check-label text-muted" for="remember">Remember me</label>
                </div>

                <button #login type="" class="btn btn-lg btn-dark" (click)="loginManual($event, loginForm)"
                    [disabled]="!loginForm.valid || facebook.disabled || google.disabled"
                    [ngClass]="{ 'progress-bar': loginForm.valid && login.disabled, 'progress-bar-striped': loginForm.valid && login.disabled, 'progress-bar-animated': loginForm.valid && login.disabled}">Sign
                    in</button>
            </div>

            <div class="d-flex flex-row justify-content-between mt-3">
                <button type="button" class="btn btn-sm btn-link text-dark" routerLink="/auth/register">Register now</button>
                <button type="button" class="btn btn-sm btn-link text-dark" routerLink="/auth/reset-password">Forgot password ?</button>
            </div>

        </form>
    </div>
</cah-auth-container>
