<div class="d-flex flex-column flex-grow-1 flex-fill justify-content-center align-items-center h-100 position-relative">
  <ng-container>
    <ng-container *ngIf="{ deckLength: deckLength$ | async, selected: selectionChanges$ | async } as deckData">
      <div *ngIf="{ cards: getCards($any(deckData.deckLength), deckData.selected!)(deck!) } as data"
        class="d-flex flex-fill flex-grow-1 carousel slide w-100">
        <div [@slideAnimation]="activeIndex" (@slideAnimation.done)="animated($event)"
          class="carousel-inner d-flex flex-column justify-content-center">
          <div *ngFor="let cardDecks of data.cards; let index=index"
            class="carousel-item d-flex flex-column flex-fill flex-grow-1 justify-content-center"
            [ngClass]="{ active: activeIndex === index, 'd-none': activeIndex !== index}">
            <div class="card-group d-flex justify-content-center px-4 pb-0 g-2">
              <mat-card *ngFor="let card of cardDecks"
                class="card d-flex flex-fill flex-column justify-content-between align-items-center m-4 rounded" cfhDebounceClick
                (debounceClick)="$any(card)?.selected ? false : onSelect(card!)"
                [ngClass]="{ 'card-selected bg-dark text-white': deckData.selected?.includes(card!) || disabled || $any(card)?.selected }">
                <ng-container
                  *ngIf="{ player: $any(card)?.player ?? player?.node, avatar: $any(card)?.player?.avatar ?? player?.node?.avatar} as playerData">
                  <div class="d-flex flex-fill flex-column justify-content-between align-items-center back d-none">
                    <img *ngIf="$any(avatars)[playerData.avatar] as avatar" [src]="avatar.link| safeUrl" class="avatar"
                      alt="{{avatar.name}}" class="img-fluid img-thumbnail border rounded-circle" width="25"
                      [ngClass]="{ 'border-5 border-success': $any(card)?.selected, 'border-3 border-warning': playerData.player?.user?.id === player?.node?.user?.id}" />
                  </div>
                  <div class="d-flex flex-fill flex-column justify-content-between align-items-center front">
                    <span matTooltip="selected" class="selection text-dark bg-white">
                      <mat-icon>check_circle</mat-icon>
                    </span>
                    <div class="d-flex flex-row flex-fill flex-grow-1 w-100 justify-content-between align-items-start">
                      <img *ngIf="$any(avatars)[playerData.avatar] as avatar" [src]="avatar.link| safeUrl" class="avatar"
                        alt="{{avatar.name}}" class="img-fluid img-thumbnail border rounded-circle" width="25"
                        [ngClass]="{ 'border-5 border-success': $any(card)?.selected, 'border-3 border-warning': playerData.player?.user?.id === player?.node?.user?.id}" />

                      <span class="small text-muted"><small>rating: {{card?.card?.rating | lowercase}}</small></span>
                    </div>
                    <p [ngClass]="{ small: deckData.deckLength === 1 }">{{card?.card?.text}}</p>
                    <div class="d-flex flex-row flex-fill flex-grow-1 w-100 justify-content-between align-items-end">
                      <a [href]="card?.card?.genre?.credit" class="text-decoration-none text-muted small">
                        <small>
                          {{card?.card?.genre?.description | lowercase}}
                          <span class="badge bg-dark">{{$any(card?.card)?.pick}}</span>
                        </small>
                      </a>

                      <img *ngIf="$any(avatars)[playerData.avatar] as avatar" [src]="avatar.link| safeUrl" class="avatar"
                        alt="{{avatar.name}}" class="img-fluid img-thumbnail border rounded-circle" width="25"
                        [ngClass]="{ 'border-5 border-success': $any(card)?.selected, 'border-3 border-warning': playerData.player?.user?.id === player?.node?.user?.id}" />
                    </div>
                  </div>
                </ng-container>
              </mat-card>
            </div>
          </div>
        </div>

        <ng-container>
          <button class="carousel-control-prev" type="button" data-bs-target="#instructions" data-bs-slide="prev" matTooltip="prev"
            matTooltipPosition="right" (click)="navigate(data.cards.length)('backward')" [disabled]="deckData.selected?.length! >= pick">
            <mat-icon color="primary">arrow_back_ios</mat-icon>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#instructions" data-bs-slide="next" matTooltip="next"
            matTooltipPosition="left" (click)="navigate(data.cards.length)('forward')" [disabled]="deckData.selected?.length! >= pick">
            <mat-icon color="primary">arrow_forward_ios</mat-icon>
          </button>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
