.carousel-control-prev, .carousel-control-next {
  width: auto;
}

.card {
  max-width: 207px;
  min-height: 272px;
  max-height: 272px;
  cursor: pointer;
}

.selection {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right:-10px;
  top:-10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.card:hover .selection {
  opacity: 1;
}

.card-selected .selection {
  opacity: 1;
}
