<cah-auth-container title="Reset Password">
    <div class="col p-md-5">
        <form>
            <div class="form-group">
                <label for="user" hidden>Username or Email</label>
                <input type="email" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Username or Email">
                <small id="emailHelp" class="form-text text-muted">Enter your email or username. We won't share it.</small>
            </div>
            <div class="form-group">
                <label for="password" hidden>Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp">
                <small id="emailHelp" class="form-text text-muted">Enter your account password.</small>
            </div>
            <div class="form-group">
                <label for="password" hidden>Repeat Password</label>
                <input type="password" class="form-control" id="password" placeholder="Repeat Password" aria-describedby="repeatHelp">
                <small id="repeatHelp" class="form-text text-muted">Repeat your account password.</small>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-dark">Reset Password</button>

            <div class="d-flex flex-row justify-content-between mt-3">
                <button type="button" class="btn btn-sm btn-link text-dark" routerLink="/auth/login">Back to Login</button>
            </div>

        </form>
    </div>
</cah-auth-container>
