<mat-stepper linear aria-label="available games" class="d-flex flex-column flex-fill">
  <mat-step step="videogame_asset" aria-label="choose game to join">
    <ng-template matStepLabel>Select An Avatar</ng-template>
    <ng-template matStepContent>
      <cfh-avatar [taken]="taken$ | async" [selected]="avatar?.name" (onAvatarSelect)="avatarSelected($event)"></cfh-avatar>

      <div class="btn-toolbar pt-3" role="toolbar" aria-label="game options navigation buttons">
        <div class="btn-group btn-group-lg flex-fill" role="group" aria-label="reset button">
          <button mat-icon-button matTooltip="reset" matTooltipPosition="right" aria-label="reset options">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
        </div>

        <div class="btn-group btn-group-lg flex-fill justify-content-end" role="group" aria-label="next button">
          <button mat-mini-fab flexFill aria-label="start game" matTooltip="Join Game" matTooltipPosition="left" color="primary"
            cfhDebounceClick (debounceClick)="joinGame()" [disabled]="!avatar?.name">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
